body {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

input[type="date"] {
    padding: 5px 30px;
}

.ancher p {
    text-decoration: none;
    font-size: 20px;
    color: blue;
    cursor: pointer;
}

.ancher a:hover {
    color: black;
}

.ancher {
    margin: 20px 0px;
    background: none;
    border: none;
    outline: none;
}

.chackbox {
    display: flex;
    gap: 5px;
}

.input-text {
    padding: 0px;
    margin: 0px;
    font-weight: 900;
    font-size: 25px;
}

.btn1,
.btn {
    background: #7db500;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
}

.button-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    left: 50%;
    top: 50px;
}

#output,
#poutput {
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    padding-left: 40px;
}

.heading {
    box-shadow: rgba(80, 80, 80, 0.2) 0px 1px 8px 0px, rgba(80, 80, 80, 0.14) 0px 3px 4px 0px, rgba(80, 80, 80, 0.12) 0px 3px 3px -2px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#show_error,
#show_error1 {
    width: 100%;
    color: red;
}

#click,
#btn-btn {
    display: flex;
}

.first {
    cursor: pointer;
    margin-left: -4px;
    border-left: none;
    background: none;
    outline: non;
}

.hasDatepicker {
    border-right: none;
    outline: none;
    text-align: center;
}